<div class="container">
  <p>商品一覧</p>
  <table class="table table-borderless">
    <thead class="table-light">
      <tr>
        <th scope="col">商品ID</th>
        <th scope="col">商品名</th>
        <th scope="col">税抜価格</th>
        <th scope="col">ジャンル</th>
        <th scope="col">ステータス</th>
      </tr>
    </thead>
    <% @items.each do |item| %>
    <tbody>
      <tr>
        <td>
          <%= item.id %>
        </td>
        <td>
          <%= item.name %>
        </td>
        <td>
          <%= item.price %>
        </td>
        <td>
          <%= item.genre_id.name %>
        </td>
        <td>
          <%= item.is_active %>
        </td>
      </tr>

    </tbody>
    <% end %>
  </table>
  
  </div>
