<div class="container">
  
  <p>商品詳細</p>
  
    <div class="row">
      <div class="img-container col-sm-3">
        <%= attachment_image_tag @item, :image, format: 'jpeg' %>
      </div>
      
      <div class="col-sm-9">
        <table class="table table-borderless">
          
            <tr>
              <th scope="row">商品名</th>
              <td><%= @item.name %></td>
            </tr>
          
            <tr>
              <th scope="row">商品説明</th>
              <td><%= @item.introduction %></td>
            </tr>
          
          
            <tr>
              <th scope="row">ジャンル</th>
              <td><%= @item.genre.name %></td>
            </tr>

            <tr>
              <th scope="row">税込価格<br>(税抜価格)</th>
              <td><%= (@item.price*1.1).round.to_s(:delimited, delimiter: ',') %>（<%= @item.price.to_s(:delimited, delimiter: ',') %>）円</td>
            </tr>
  
            <tr>
              <th scope="row">販売ステータス</th>
                <% if @item.is_active == true %>
                  <td class="text-success">販売中</td>
                  <% else %>
                  <td class="text-secondary">販売停止中</td>
                <% end %>
            </tr>
          
            <td class="row justify-content-center">
              <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
            </td>
         
      </table>
      </div>
    </div>

</div>




