<div class="container">
  <p>注文履歴詳細</p>
  <div class="row mt-3">
    <div class="col-3">
      <strong>購入者</strong>
    </div>
    <div class="col-8">
      <%= @order.customer.first_name+@order.customer.last_name %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <strong>注文日</strong>
    </div>
    <div class="col-8">
      <%= @order.created_at.strftime('%Y/%m/%d') %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <strong>配送先</strong>
    </div>
    <div class="col-8">
      <%= @order.postal_code %> <%= @order.address %></br>
      <%= @order.name %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <strong>支払方法</strong>
    </div>
    <div class="col-8">
      <%= @order.payment_method_i18n %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <strong>注文ステータス</strong>
    </div>
    <div class="col-8">
          <%= form_with model: @order, url: admin_order_path(@order), method: :patch do |f| %> 
          <%= f.select :status , Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]}, class: "form-select" %>
          <%= f.submit '更新', class: "btn btn-success btn-sm ml-5" %>
          <% end %>
    </div>
  </div>
  <div class="row mt-3 position-relative">
    <div class="col-8">

    <table class="table-borderless col-12">
      <tr class="table-light">
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
      </tr>
     <% @order_details.each do |order_detail| %>
      <% if @order.id == order_detail.order_id %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.price %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.price * order_detail.amount %></td>
          <td>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch do |f| %> 
            <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order.making_status.#{k}"), k]}, class: "form-select" %>
            <%= f.submit '更新', class: "btn btn-success btn-sm ml-5" %>
            <% end %>
          </td>
        </tr>
        
        <% @total += order_detail.price * order_detail.amount %>
      <% end %>
    <% end %> 
    </table>

    </div>

    <div class="col-4 position-absolute bottom-0 end-0">

      <div class="row">

        <div class="col-6"><strong>商品合計</strong></div>
        
        <div class="col-4"><%= @total.to_s(:delimited, delimiter: ',') %>円</div>
      </div>
      <div class="row">
        <div class="col-6"><strong>送料</strong></div>
        <div class="col-4"><%= @order.shipping_cost.to_s(:delimited, delimiter: ',') %>円</div>
      </div>
      <div class="row">
      <div class="col-6"><strong>請求額合計</strong></div>
        <% @billing_total = 0 %>
        <% @billing_total = @total + @order.shipping_cost %>
        <div class="col-4"><strong><%= @billing_total.to_s(:delimited, delimiter: ',') %>円</strong></div>
      </div>

    </div>

  </div>
</div>