

  <div class="container">
    <p>ジャンル一覧・追加</p>
    <div class ="row">
      
      <%= form_with model: @genres, url: '/admin/genres', method: :post do |f| %>
      <div class="form-group">
        <%= f.label :ジャンル名, class: "mr-5" %>
        <%= f.text_field :name, class: "mr-5", value: ""  %>
        <%= f.submit '新規登録', class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
    
    <div class ="row">
      <div class="col-sm-5">
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>ジャンル</th>
              <th></th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <% @genres.each do |genre| %>
          <tbody>
            <tr>
              <td><%= genre.name %></td>
              <td>
                <%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-sm btn-success" %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
        </div>
        <div class="col-sm-6"></div>
      </div>
  </div>
    


