<div class="container">
  
  <p>配送先登録/一覧</p>

      <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
      <div class="row">
        <div class="col-12">
        <table class="table table-borderless">
          
          
          <tr>
            <th class="col-3">郵便番号(ハイフンなし)</th>
            <td><%= f.text_field :postal_code, class: "form-control col-8",autofocus: true, placeholder: "0000000" %></td>
            
          </tr>
            
            <tr>
              <th>住所</th>
              <td><%= f.text_field :address, class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0" %></td>
              <td></td>
            </tr>
  
             <tr>
              <th >宛名</th>
              <td><%= f.text_field :name, class: "form-control col-8", placeholder: "令和道子" %></td>
              <td><%= f.submit "新規登録", class: "btn btn-success mr-5" %></td>
            </tr>
      
         </table>
         </div>
       <% end %>
       </div>
    
    <div class="row">
      <% @addresses.each do |address| %>
        
          <table class="table table-bordered">
            
            <thead>
              <tr>
                <th scope="col" class="table-secondary">郵便番号</th>
                <th scope="col" class="table-secondary">住所</th>
                <th scope="col" class="table-secondary">宛名</th>
                <th scope="col" class="table-secondary"></th>
              </tr>
            </thead>            

            <tbody>
              <tr>
                <td><%= address.postal_code %></td>
                <td><%= address.address %></td>
                <td><%= address.name %></td>
                <td><%= link_to "編集する", address_path(address.id),  class: "btn btn-primary mr-2" %><%= link_to "削除する", destroy_address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
              </tr>
            </tbody>
            
          </table>
        <% end %>
      
    </div>
</div>




