<div class="container">
  <div class="row mt-5">
    <div class="col"><p>ショッピングカート</p></div>
    <div class="col text-right"><%= button_to 'カートを空にする', '/cart_items/destroy_all', method: :delete, class: "btn btn-danger btn-sm" %></div>
  </div>
  <table class="table table-bordered">
    <thead class="table-light">
      <tr>
        <th scope="col">商品名</th>
        <th scope="col">単価(税込)</th>
        <th scope="col">数量</th>
        <th scope="col">小計</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <% @cart_items.each do |cart_item| %>
    <tbody>
      <tr>
        <td>
          <%= attachment_image_tag cart_item.item, :image, format: 'jpeg', size: '100x100' %>
          <%= cart_item.item.name %>
        </td>
        <td>
          <%= cart_item.item.with_tax_price.to_s(:delimited, delimiter: ',') %>
        </td>
        <td>
          <%= form_with model: @cart_item do |f| %> 
          <%= f.select :amount, *[1..5], include_blank: "個数選択", class: "form-select" %>
          <%= f.submit '変更', class: "btn btn-success btn-sm ml-5" %>
          <% end %>
        </td>
        <td>
          <%= cart_item.subtotal.to_s(:delimited, delimiter: ',') %> 
        </td>
        <td>
          <%= link_to '削除する', destroy_cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>

    </tbody>
    <% end %>
  </table>

  </div>

