
    
    <div class="container">
      <p>新規会員登録</p>
      <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer' do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
      <div class="form-group row">
          <%= f.label :名前 ,class: "col-sm-4" %>
          
          <div class="col-sm-4">
            <div class="form-group row">
            <%= f.label :（姓） ,class: "col-sm-3" %>
            <%= f.text_field :first_name, class: "form-control col-sm-9",autofocus: true, placeholder: "令和" %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group row">
            <%= f.label :（名） ,class: "col-sm-3" %>
            <%= f.text_field :last_name, class: "form-control col-sm-9",autofocus: true, placeholder: "道子" %>
            </div>
          </div> 
      </div>

      <div class="form-group row">
          <%= f.label :フリガナ ,class: "col-sm-4" %>
          
          <div class="col-sm-4">
            <div class="form-group row">
            <%= f.label :（セイ） ,class: "col-sm-4" %>
            <%= f.text_field :first_name_kana, class: "form-control col-sm-8",autofocus: true, placeholder: "レイワ" %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group row">
            <%= f.label :（メイ） ,class: "col-sm-4" %>
            <%= f.text_field :last_name_kana_name, class: "form-control col-sm-8",autofocus: true, placeholder: "ミチコ" %>
            </div>
          </div> 
      </div>
            
      <div class="form-group row">
          <%= f.label :メールアドレス ,class: "col-sm-4" %>
          <div class="col-sm-6">
            <%= f.email_field :email, class: "form-control",autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
          </div> 
      </div>
      
      <div class="form-group row">
          <%= f.label :郵便番号（ハイフンなし） ,class: "col-sm-4" %>
          <div class="col-sm-6">
            <%= f.text_field :postal_code, class: "form-control",autofocus: true, placeholder: "0000000" %>
          </div> 
      </div>
    
      <div class="form-group row">
          <%= f.label :住所 ,class: "col-sm-4" %>
          <div class="col-sm-6">
            <%= f.text_field :address, class: "form-control",autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0" %>
          </div> 
      </div> 

      <div class="form-group row">
          <%= f.label :電話番号（ハイフンなし） ,class: "col-sm-4" %>
          <div class="col-sm-6">
            <%= f.text_field :telephone_number, class: "form-control",autofocus: true, placeholder: "00000000000" %>
          </div> 
      </div> 
     
      <div class="form-group row">
          <%= f.label :パスワード（6文字以上） ,class: "col-sm-4" %>
          <div class="col-sm-6">
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
          </div>
      </div>
      
      <div class="form-group row">
          <%= f.label :パスワード（確認用）, class: "col-sm-4" %>
          <div class="col-sm-6">
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
          </div>
      </div>
      
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
          <%= f.submit "新規登録" ,class: "btn btn-success col-sm-offset-2 col-sm-12" %>
        </div>
      </div>
     
      <% end %>
      <div class="row">
        
        <div class="col-sm-10">
        　<p>既に登録済みの方</p>
          <%= link_to "こちら", customer_session_path %> からログインしてください。
        </div>
      </div>
      
    </div>
  </div>

