<div class="container">
  <p>注文情報入力</p>
  <%= form_with model: @order do |f| %>
  <div class="row">
    <strong><p>支払方法</p></strong>
    <div class="form-check ml-3">
      <label class="form-check-label">
        <%= f.radio_button :payment_methods, :credit_card %>
        <%= Order.payment_methods_i18n[:credit_card] %>
      </label></br>
      <label class="form-check-label">
        <%= f.radio_button :payment_methods, :transfer %>
        <%= Order.payment_methods_i18n[:transfer] %>
      </label>
    </div>
  </div>
  <div class="row mt-2">
    <strong><p>お届け先</p></strong>
     <div class="form-check ml-3">
      <label class="form-check-label">
        <%= f.radio_button :address, current_customer.address %>
        <%= "ご自身の住所" %></br>
        <%= current_customer.postal_code %></br>
        <%= current_customer.address %>
      </label></br>
      <label class="form-check-label">
        <%= f.radio_button :payment_methods, :transfer %>
        <%= Order.payment_methods_i18n[:transfer] %>
      </label>
    </div>   
  </div>
  <% end %>
</div>
