<div class="container">
  <div class="row mt-5">
    <div class="col-md-3 h-50">
      <table class="table table-borderless">
        <thead class="table-bordered">
          <tr>
            <th scope="col">ジャンル検索</th>
          </tr>
        </thead>
        <tbody class="table-bordered">
          <tr>
            <td>ケーキ</td>
          </tr>
          <tr>
            <td>焼き菓子</td>
          </tr>
          <tr>
            <td>プリン</td>
          </tr>
          <tr>
            <td>キャンディ</td>
          </tr>

        </tbody>
      </table>


    </div>
    <div class="col-md-9">

    <div class="row">
      <div class="img-container col-sm-3">
        <%= attachment_image_tag @item, :image, format: 'jpeg' %>
      </div>
      
      <div class="col-sm-9">
        <h3><%= @item.name %></h3>
        <%= @item.introduction %><br><br><br>
        <span><h4 style="display: inline-block"><%= "¥"+(@item.price*1.1).floor.to_s(:delimited, delimiter: ',') %></h4><small> (税込)</small></span><br><br>
          <%= form_with model: @cart_item, url: cart_items_path do |f| %>
        
             <%= f.hidden_field :item_id, value: @item.id %>
             <%= f.select :amount, *[1..5], include_blank: "個数選択", class: "form-select" %>
        
             <%= f.submit 'カートに入れる', class: "btn btn-success btn-sm ml-5" %>
          <% end %>
    </div>
    </div>
    
  </div>
</div>
