<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand navbar-light">
        <a class="navbar-brand" href="/">LOGO</a>
        <div class="ml-auto">
        <% if admin_signed_in? %>
        
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "商品一覧", "/admin/items", class: "btn btn-outline-secondary mr-4" %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", "/admin/customers", class: "btn btn-outline-secondary mr-4" %>
            </li>
            <li class="nav-item">
              <%= link_to "注文履歴一覧", "#", class: "btn btn-outline-secondary mr-4" %>
            </li> 
            <li class="nav-item">
              <%= link_to "ジャンル一覧", "/admin/genres", class: "btn btn-outline-secondary mr-4" %>
            </li>
            <li class="nav-item">
              <%= button_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary mr-4" %>
            </li>
          </ul>
          
          <% elsif customer_signed_in? %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "マイページ", "/customers/my_page", class: "btn btn-outline-secondary mr-4" %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", "/admin/items", class: "btn btn-outline-secondary mr-4" %>
            </li>
            <li class="nav-item">
              <%= link_to "カート", "#", class: "btn btn-outline-secondary mr-4" %>
            </li>    
            <li class="nav-item">
              
              <%= link_to 'ログアウト', destroy_customer_session_path, class: 'btn btn-outline-secondary mr-4', method: :delete %>
            </li>
          </ul>
          
          <% else %>
          
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "About", "/about", class: "btn btn-outline-secondary mr-4" %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", "/admin/items", class: "btn btn-outline-secondary mr-4" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", "/customers/sign_up", class: "btn btn-outline-secondary mr-4" %>
            </li>    
            <li class="nav-item">
              <%= link_to "ログイン", "/customers/sign_in", class: "btn btn-outline-secondary mr-4" %>
            </li>
          </ul>
        <% end %>
        
          <ul class="navbar-nav mt-3">
            <li class="nav-item ml-auto">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>
    
  </body>
</html>
